/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Play:wght@400;700&display=swap");

.divider {
  border-right: 1px solid #000000;
}
.bg-play-dark-gray {
  background-color: rgb(132, 132, 132);
}
.bg-play-medium-gray {
  background-color: rgb(187, 187, 187);
}
.play-medium-gray {
  color: rgb(187, 187, 187);
}
.play-dark-gray {
  color: rgb(132, 132, 132);
}
.navbar{
  z-index: 1;
}
.navbar-brand {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

.form-input {
  border-radius: 25px;
  border-style: solid;
  border-width: 0.125rem;
  border-color: rgb(187, 187, 187);
  background-color: rgb(187, 187, 187);
  color: rgb(132, 132, 132);
}

.form-input:focus {
  border-radius: 25px;
  border-width: 0.125rem;
  border-color: #0080ff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125),
    0 0 8px rgba(34, 139, 230, 0.5);
  background-color: #f1f3f5;
  outline-style: none;
}

.select2-container--default .select2-selection--multiple {
  border-radius: 25px;
  border-style: solid;
  border-width: 0.125rem;
  border-color: rgb(187, 187, 187);
  background-color: rgb(187, 187, 187);
  color: rgb(132, 132, 132);
}
.select2-search__field:focus {
  border-radius: 25px;
  border-width: 0.125rem;
  border-color: #0080ff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125),
    0 0 8px rgba(34, 139, 230, 0.5);
  background-color: #f1f3f5;
  outline-style: none;
}

.navbar-search-button {
  margin-left: -35px;
  border-style: hidden;
  background-color: transparent;
}

.game-title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.release-date {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
}

.category-title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.category-info {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
}

.game-description {
  white-space: pre-wrap;
}

.bootstrap-select:not(.input-group-btn) {
  display: contents;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  /* backface-visibility: hidden; */
}

.flipped {
  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(180deg) scale(1);
}

.block {
  display: block;
}

/* .swiper-slide-active{
    transform: rotateY(0deg) !important;
  }
  .swiper-slide-active.flipped{
     transform: rotateY(180deg) !important; 
  } */

.front-cover,
.back-cover {
  pointer-events: none;
  position: absolute;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  border-style: solid;
  border-color: rgb(181, 182, 187);
  border-width: 10px;
  background-repeat: no-repeat;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(35%, transparent), to(rgba(250, 250, 250, 0.1)));
  backface-visibility: hidden;
}

.back-cover {
  z-index: 0;
  transform: rotateY(180deg);
  pointer-events: none;
}

.hidden {
  display: none;
}

.red {
  color: red;
}

/* .swiper-wrapper{
    pointer-events: none;
  } */

.swiper-container {
  padding-bottom: 150px;
}

.swiper-slide-active {
  pointer-events: all;
}

.youtube-embed {
  border: solid 0.5rem rgb(181, 182, 187);
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.bgimage {
  /* height: 100vh; */
  background-image: linear-gradient(
      to top,
      rgb(0, 0, 0) 8%,
      rgba(132, 132, 132, 0.3) 60%,
      rgba(132, 132, 132, 1) 90%
    ),
    url(/static/images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bg {
  /* height: 100vh; */
  background-image: linear-gradient(
      to top,
      rgb(0, 0, 0) 8%,
      rgba(132, 132, 132, 0.3) 60%,
      rgba(132, 132, 132, 1) 90%
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.bgimage h2 {
  color: white;
  text-shadow: 2px 2px #333;
}

.bgimage p {
  color: white;
  text-shadow: 2px 2px #333;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #000000;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
