.bootstrap-select:not(.input-group-btn){
    display: contents;
}

body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    /* backface-visibility: hidden; */
  }

  .flipped{
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(180deg) scale(1);
  }
  
  .block {
    display: block;
  }

  /* .swiper-slide-active{
    transform: rotateY(0deg) !important;
  }
  .swiper-slide-active.flipped{
     transform: rotateY(180deg) !important; 
  } */
  
  .front-cover , .back-cover {
    pointer-events: none;
    position: absolute;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgba(255, 0, 0, 0.3);
    border-width: 10px;
    background-repeat: no-repeat;
    /* backface-visibility: hidden; */
  }

  .back-cover{
    z-index: 0;
    transform: rotateY(180deg);
    pointer-events: none;
  }

  .hidden{
    display: none;
  }

  .red{
    color: red;
  }

  /* .swiper-wrapper{
    pointer-events: none;
  } */

  /* .swiper-container{
    pointer-events: none;
  } */

  .swiper-slide-active{
    pointer-events: all;
  }