{% extends 'flask_user/_public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<div class="container-fluid p-0 flex-fill bgimage">
    <form method="POST" class="form form-background center col-10 col-lg-4"> <!--  offset-1  offset-lg-4 -->
        {{ form.hidden_tag() }}
        <h2 class="text-center"> Sign In</h2>
        <h5 class="text-center"> contribute and collect</h5>
        {# Username or Email field #}
        {% set field = form.username if user_manager.USER_ENABLE_USERNAME else form.email %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">

            {{ field(class_='form-control form-input', tabindex=110 , placeholder="Username...") }}
            {% if field.errors %}
            {% for e in field.errors %}
            <p class="help-block">{{ e }}</p>
            {% endfor %}
            {% endif %}
        </div>

        {# Password field #}
        {% set field = form.password %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            {{ field(class_='form-control form-input', tabindex=120 , placeholder="Password...") }}
            {% if field.errors %}
            {% for e in field.errors %}
            <p class="help-block">{{ e }}</p>
            {% endfor %}
            {% endif %}
        </div>

        {# Submit button #}
        <div class="row no-gutters">
            <div class="col text-center">
                <button class="btn round-button" id="" type="submit">
                    <span class="text">Sign In</span>
                    <span class="round"><i class="fa fa-chevron-right"></i></span>
                </button>
            </div>
        </div>

        {# Label on left, "New here? Register." on right #}
        <div class="row">
            <div class="col text-center">
                {% if user_manager.USER_ENABLE_REGISTER and not user_manager.USER_REQUIRE_INVITATION %}
                <a class="play-medium-gray" href="{{ url_for('user.register') }}" tabindex='190'>
                    {%trans%}New here? Register.{%endtrans%}</a>
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock %}