{% extends 'flask_user/_public_base.html' %}

{% block content %}
<div class="container-fluid p-0 flex-fill bgimage">
    {% from "flask_user/_macros.html" import render_field, render_submit_field %}
    <form action="" method="POST" novalidate formnovalidate class="form form-background center col-10 col-lg-4" role="form">
        {{ form.hidden_tag() }}
        <h2 class="text-center"> Sign Up</h2>
        <h5 class="text-center"> and start your collection</h5>
        {# Username or Email #}
        {% set field = form.username if user_manager.USER_ENABLE_USERNAME else form.email %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            {{ field(class_='form-control form-input', tabindex=110 , placeholder="Username...") }}
            {% if field.errors %}
            {% for e in field.errors %}
            <p class="help-block">{{ e }}</p>
            {% endfor %}
            {% endif %}
        </div>

        {% if user_manager.USER_ENABLE_EMAIL and user_manager.USER_ENABLE_USERNAME %}
        {{ render_field(form.email, tabindex=220) }}
        {% endif %}

        {# Password field #}
        {% set field = form.password %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            {{ field(class_='form-control form-input', tabindex=120 , placeholder="Password...") }}
            {% if field.errors %}
            {% for e in field.errors %}
            <p class="help-block">{{ e }}</p>
            {% endfor %}
            {% endif %}
        </div>
        {% if user_manager.USER_REQUIRE_RETYPE_PASSWORD %}
        {% set field = form.retype_password %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            {{ field(class_='form-control form-input', tabindex=120 , placeholder="Confirm Password...") }}
            {% if field.errors %}
            {% for e in field.errors %}
            <p class="help-block">{{ e }}</p>
            {% endfor %}
            {% endif %}
        </div>
        {% endif %}

        {# Submit button #}
        <div class="row no-gutters">
            <div class="col text-center">
                <button class="btn round-button" id="" type="submit">
                    <span class="text">Sign Up</span>
                    <span class="round"><i class="fa fa-chevron-right"></i></span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                {% if user_manager.USER_ENABLE_REGISTER and not user_manager.USER_REQUIRE_INVITATION %}
                <a class="play-medium-gray" href="{{ url_for('user.login') }}" tabindex='190'>
                    {%trans%}Already registered? Sign in.{%endtrans%}</a>
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock %}