{% extends 'base.html' %}
{% set active_page = "add-game" %}
{% block title %}Add Game{% endblock %}
{% block content %}
<div class="container-fluid p-0 flex-fill">
    <form method="POST" action="/add-game/" id="add-game-form">
        <div class="row no-gutters">
            <div class="col-10 offset-1 col-lg-8 offset-lg-2">
                {{ form.csrf_token }}
                {{ form.id(class="hidden") }}
                {{ form.is_saved_in_db(class="hidden") }}
                {% if title_already_exists %}
                <h4 class="red">A Title With This Name Already Exists In The Database, Please choose a unique name.</h4>
                {{ form.title.label(class="label label-default") }} {{ form.title(placeholder="Enter the title of the game as it appears on the cover.",class="form-control form-input") }}
                {% else %}
                {{ form.title.label(class="label label-default") }} {{ form.title(placeholder="Enter the title of the game as it appears on the cover.",class="form-control form-input") }}
                {% endif %}
                {{ form.release_date.label(class="label label-default") }}
                {{ form.release_date(class="form-control form-input") }}
                {{ form.developer.label(class="label label-default") }}
                {{ form.developer(class="js-states select2Js form-input form-control", multiple="multiple") }}
                {{ form.publisher.label(class="label label-default") }}
                {{ form.publisher(class="select2Js js-states form-input form-control", multiple="multiple") }}
                {{ form.genre.label(class="label label-default") }}
                {{ form.genre(class="select2Js js-states form-input form-control", multiple="multiple") }}
                {{ form.game_description.label(class="label label-default") }}
                {{ form.game_description(placeholder = "Enter a short description of the game" , class="form-control form-input") }}
                {{ form.trailer.label(class="label label-default") }}
                {{ form.trailer(placeholder = "Youtube url for video trailer",class="form-control form-input") }}
                {{ form.wikipedia.label(class="label label-default") }}
                {{ form.wikipedia(placeholder = "url for wikipedia page",class="form-control form-input") }}
                {{ form.front_cover.label(class="label label-default") }}
                {{ form.front_cover(placeholder = "url for front cover image, image should be square 1:1 ratio",class="form-control form-input") }}
                <div class="row no-gutters">
                    <div class="col text-center">
                        <input type="submit" class="btn round-button" value="Submit">
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {
        $(".select2Js").select2({
            tags: true,
            placeholder: "Select from the list or type to add new."
        });
    })
</script>
{% endblock %}