{% extends 'base.html' %} 
{% block title %}Add Game{% endblock %} 
{% block content %}
<form method="POST" action="/update-game">
    {{ form.csrf_token }}
    {{ form.title.label(class="form-label") }} {{ form.title() }}
    {{ form.release_date.label }} {{ form.release_date() }}
    {{ form.developer.label }} {{ form.developer() }}
    {{ form.publisher.label }} {{ form.publisher() }}
    {{ form.genre.label }} {{ form.genre() }}
    {{ form.game_description.label }} {{ form.game_description() }}
    {{ form.trailer.label }} {{ form.trailer(placeholder = "url for front video trailer") }}
    {{ form.wikipedia.label }} {{ form.wikipedia(placeholder = "url for wikipedia page") }}
    {{ form.front_cover.label }} {{ form.front_cover(placeholder = "url for front cover image") }}
    {{ form.back_cover.label }} {{ form.back_cover(placeholder = "url for back cover image") }}
    <input type="submit" value="Submit">
</form> 
 {% endblock %}