<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css"
    integrity="sha512-ARJR74swou2y0Q2V9k0GbzQ/5vJ2RBSoCWokg4zkfM29Fb3vZEQyv0iWBMW/yvKgyHSR/7D64pFMmU8nYmbRkg=="
    crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
  <title>{% block title %}{% endblock %}</title>
</head>

<body class="d-flex flex-column">
  <nav class="navbar navbar-expand-lg bg-play-dark-gray">
    <a class="navbar-brand play-medium-gray" href="{{url_for('home')}}"><i
        class="fab fa-playstation play-medium-gray"></i> Playcrate</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fas fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        {% set navbar_menus = [
          ('/', 'home', 'Home'),
          ('/browse', 'browse', 'Browse'),
          ('/add-game', 'add-game', 'Add Game'),
          ] -%}
        {% set active_page = active_page|default('home') -%}
        {% for href, id, caption in navbar_menus %}
        <li class="nav-item">
          <a class="nav-link play-medium-gray {% if id == active_page %} active {% endif%}" href="{{ href }}">
            {{ caption }}
          </a>
          <!-- <li class="divider"></li> -->
        </li>
        {% endfor %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('view_collection') }}">My Collection</a>
            <a class="dropdown-item" href="{{ url_for('view_playcrate') }}">My Playcrate</a>
            <a class="dropdown-item" href="{{ url_for('view_trophies') }}">My Trophies</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <form class="" method="POST" action="/search-db/">
            <!-- <input class="form-control" type="text" id="search" name="search" placeholder="Search" aria-label="Search">} -->
            {% if search_form %}
            {{search_form.search_box(class="search-bar")}}
            <button class="fas fa-search navbar-search-button play-dark-gray" type="submit"></button>
            {% endif %}
          </form>
        </li>
        <li class="nav-item">
          {% if current_user.is_active %}
          <a class="btn round-button"  href="{{url_for('user.logout')}}">
            <span class="text">Sign Out </span>
            <span class="round"><i class="fas fa-sign-out-alt"></i></span>
        </a>
          {% else %}
          <a class="btn round-button"  href="{{url_for('user.login')}}">
            <span class="text">Sign In </span>
            <span class="round"><i class="fas fa-sign-in-alt"></i></span>
        </a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>
  {% block content %} {% endblock %}

  <footer class="footer">
    <div class="container p-0">
      <div class="row no-gutters">
        <div class="col-6 offset-3 col-md-4 offset-md-4 col-lg-2 offset-lg-5">
          <div class="row no-gutters">
            <div class="col-3">
              <div class="square">
                <a class="square-inner social-icon-back" href="https://www.facebook.com/">
                  <div class="center">
                    <i class="social-icon-inner fab fa-facebook"></i>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-3">
              <div class="square">
                <a class="square-inner social-icon-back" href="https://www.twitter.com/">
                  <div class="center">
                    <i class="social-icon-inner fab fa-twitter"></i>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-3">
              <div class="square">
                <a class="square-inner social-icon-back" href="https://www.youtube.com/">
                  <div class="center">
                    <i class="social-icon-inner fab fa-youtube"></i>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-3">
              <div class="square">
                <a class="square-inner social-icon-back" href="https://www.instagram.com/">
                  <div class="center">
                    <i class="social-icon-inner fab fa-instagram"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col col-lg-4 offset-lg-4 play-medium-gray text-center">
          Kieran Murray 2020. All Right Reserverd.
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col col-lg-4 offset-lg-4 play-medium-gray text-center">
          Contact: support@platcrate.com
        </div>
      </div>
    </div>
  </footer>

  
  <script src="https://kit.fontawesome.com/24c71b4f5a.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/js/bootstrap-select.min.js"
    integrity="sha256-qo0Cam4XJ0QQ06XnCiCFYBh3GDXU45j3lpUp+em2yBU=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="{{ url_for('static', filename='js/swiperInteraction.js') }}"></script>
  {% block javascript %} {% endblock %}
</body>

</html>