{% extends 'base.html' %} {% block title %}Browse{% endblock %} {% set
active_page = "browse" %} {% set global_variables={} %} {% block content %}
<div class="container-fluid p-0 flex-fill">
  <div class="row no-gutters">
    <div class="col col-md-8 offset-md-2">
      {# Set The Title Of The Browsing Window #} {% if browsing is defined %} {% if
  browsing|string() == 'main' %}
      <h2 class="text-center play-medium-gray">Browse All</h2>
      {% elif browsing|string() == 'collection' %}
      <h2 class="text-center play-medium-gray">My Collection</h2>
      {% if games|length == 0 %}
      <div class="text-center collection-info">Here is were you can store games that you
        have in your collection.You currently have no games in your collection, browse of search for games that you own
        and to here. If a game you own isn't
        in the database help the database grow by adding that game information yourself.</div>
      {% endif %}
      {% elif browsing|string() == 'playcrate' %}
      <h2 class="text-center play-medium-gray">My Playcrate</h2>
      {% if games|length == 0 %}
      <div class="text-center collection-info">Here is were you can add games from your collection that you wish to
        play,
        this is your personal
        play queue. Now you can quickly and easily find something to play instead of having to browse through your whole
        collection.
        Currently have no games in your playcrate, browse through your collection to add games here.</div>
      {% endif %}
      {% elif browsing|string() == 'trophies' %}
      <h2 class="text-center play-medium-gray">My Trophies</h2>
      {% if games|length == 0 %}
      <div class="text-center collection-info">Here is were you can add games from your collection that you have
        completed, this is your personal
        trophy case. Now you can quickly and easily see you achievements and what games you know what games you've
        finished.
        Currently have no games in your trophies, browse through your collection to add games here.</div>
      {% endif %}
      {% elif browsing|string() == 'search' %}
      <h2 class="text-center play-medium-gray">Search Results for "{{search_term}}"</h2>
      {% endif %} {% endif %}
    </div>
  </div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% if games|length > 0 %} {% for game in games|sort(attribute='title') %}
      <!-- Check if the game is in the users collection -->
      {% set _ = global_variables.update({'game_is_in_user_collection':false})
      %} {% for col_id in user.collection %} {% if col_id|string() ==
      game.id|string() %} {% set _ =
      global_variables.update({'game_is_in_user_collection':true}) %} {% endif
      %} {% endfor %}
      <!-- Check if game is in the users playcrate -->
      {% set _ = global_variables.update({'game_is_in_user_playcrate':false}) %}
      {% for col_id in user.playcrate %} {% if col_id|string() ==
      game.id|string() %} {% set _ =
      global_variables.update({'game_is_in_user_playcrate':true}) %} {% endif %}
      {% endfor %}
      <!-- Check if the game is in the users trophies -->
      {% set _ = global_variables.update({'game_is_in_user_trophies':false}) %}
      {% for col_id in user.trophies %} {% if col_id|string() ==
      game.id|string() %} {% set _ =
      global_variables.update({'game_is_in_user_trophies':true}) %} {% endif %}
      {% endfor %}

      <div class="swiper-slide" id="{{game.id}}" data-title="{{game.title}}"
        data-release-date="{{game.release_date.strftime('%d %B %Y')}}"
        data-game-is-in-user-collection="{{global_variables['game_is_in_user_collection']}}"
        data-game-is-in-user-playcrate="{{global_variables['game_is_in_user_playcrate']}}"
        data-game-is-in-user-trophies="{{global_variables['game_is_in_user_trophies']}}">
        <div class="front-cover" style="background-image:url({{game.front_cover}})">
          <div class="fas fa-hand-pointer rotate-icon"></div>
        </div>

        <div class="back-cover" style="background-image:url({{game.front_cover}})">
          <div class="row no-gutters h-50">
            {% if browsing|string() == "main" or browsing|string() == "search"
            %}
            <a class="col-6 cover-button" href="/games/{{game.title | urlencode}}">
              <div class="center">
                <div class="text-center">
                  View<br /><i class="fas fa-eye text-center"></i>
                </div>
              </div>
            </a>
            <a class="col-6 cover-button" href="/edit-game/{{game.title | urlencode}}">
              <div class="center">
                <div class="text-center">
                  Edit<br /><i class="fas fa-edit text-center"></i>
                </div>
              </div>
            </a>
            {% elif browsing|string() == "collection" %} {% if
            global_variables['game_is_in_user_collection'] == true %}
            <a class="col-6 cover-button" href="/remove-game-from-collection/{{game.id}}">
              <div class="center">
                <div class="text-center">
                  Remove from collection<br /><i class="fas fa-trash-alt text-center"></i>
                </div>
              </div>
            </a>
            {% else %}
            <a class="col-6 cover-button" href="/add-game-to-collection/{{game.id}}">
              <div class="center">
                <div class="text-center">
                  Add to collection<br /><i class="fas fa-box-open text-center"></i>
                </div>
              </div>
            </a>
            {% endif %} {% if global_variables['game_is_in_user_playcrate'] ==
            true %}
            <a class="col-6 cover-button" href="/remove-game-from-playcrate/{{game.id}}">
              <div class="center">
                <div class="text-center">
                  Remove from Playcrate<br /><i class="fas fa-trash-alt text-center"></i>
                </div>
              </div>
            </a>
            {% else %}
            <a class="col-6 cover-button" href="/add-game-to-playcrate/{{game.id}}">
              <div class="center">
                <div class="text-center">
                  Add to Playcrate<br /><i class="fas fa-gamepad text-center"></i>
                </div>
              </div>
            </a>
            {% endif %} {% elif browsing|string() == "playcrate" %}
            <a class="col cover-button" href="/remove-game-from-playcrate/{{game.id}}">
              <div class="center">
                <div class="text-center">
                  Remove from Playcrate<br /><i class="fas fa-trash-alt text-center"></i>
                </div>
              </div>
            </a>
            {% elif browsing|string() == "trophies" %}
            <a class="col cover-button" href="/remove-game-from-trophies/{{game.id}}">
              <div class="center">
                <div class="text-center">
                  Remove from trophies<br /><i class="fas fa-trash-alt text-center"></i>
                </div>
              </div>
            </a>
            {% endif %}
          </div>
          <div class="row no-gutters h-50">
            {% if browsing|string() == "main" or browsing|string() == "search"
            %} {% if global_variables['game_is_in_user_collection'] == true %}
            <a class="col-6 cover-button" href="/remove-game-from-collection/{{game.id}}">
              <div class="center">
                <div class="text-center">
                  Remove from collection<br /><i class="fas fa-trash-alt text-center"></i>
                </div>
              </div>
            </a>
            {% else %}
            <a class="col-6 cover-button" href="/add-game-to-collection/{{game.id}}">
              <div class="center">
                <div class="text-center">
                  Add to collection<br /><i class="fas fa-box-open text-center"></i>
                </div>
              </div>
            </a>
            {% endif %} {% elif browsing|string() == "collection"%} {% if
            global_variables['game_is_in_user_trophies'] == true %}
            <a class="col-6 cover-button" href="/remove-game-from-trophies/{{game.id}}">
              <div class="center">
                <div class="text-center">
                  Remove from trophies<br /><i class="fas fa-trash-alt text-center"></i>
                </div>
              </div>
            </a>
            {% else %}
            <a class="col-6 cover-button" href="/add-game-to-trophies/{{game.id}}">
              <div class="center">
                <div class="text-center">
                  Add to trophies<br /><i class="fas fa-trophy text-center"></i>
                </div>
              </div>
            </a>
            {% endif %} {% endif %} {% if browsing|string() == "main" or
            browsing|string() == "search" or browsing|string() == "collection"
            %}
            <div class="col-6 cover-button">
              <div class="center">
                <div class="text-center">
                  Back<br /><i class="fas fa-sync-alt text-center"></i>
                </div>
              </div>
            </div>
            {% else %}
            <div class="col cover-button">
              <div class="center">
                <div class="text-center">
                  Back<br /><i class="fas fa-sync-alt text-center"></i>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %} {% else %}


      {% endif %}
    </div>
    <div class="row no-gutters">
      <div class="col">
        {% if games|length != 0 %}
        <div class="row no-gutters">
          <div class="col-6 text-left"><i class="fas fa-chevron-left"> </i></div>
          <div class="col-6 text-right"><i class="fas fa-chevron-right"> </i></div>
        </div>
        {% endif %}
        <h2 id="game-title" class="text-center game-title"></h2>
        <h2 id="game-release_date" class="text-center release-date"></h2>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-4 offset-4 col-lg-2 offset-lg-5">
        <div class="row">
          <div id="in-collection-icon" class="collection-icon text-center col-4">
            <i class="fas fa-box-open"></i>
          </div>
          <div id="in-playcrate-icon" class="collection-icon text-center col-4">
            <i class="fas fa-gamepad"></i>
          </div>
          <div id="in-trophies-icon" class="collection-icon text-center col-4">
            <i class="fas fa-trophy"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}