{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- Search Bar -->
<section class="bgimage img-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form class="" method="POST" action="/search-db/">
                    <!-- <input class="form-control" type="text" id="search" name="search" placeholder="Search" aria-label="Search">} -->
                    {{form.search_box}}
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
                <h5 class="text-center">Welcome to Playcrate</h5>
                <p class="text-center">This is a template for a simple marketing or informational website. It includes a large callout
                    called the hero unit and three supporting pieces of content. Use it as a starting point to create
                    something more unique.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}