{% extends 'base.html' %}
{% set active_page = "my-account" %}
{% block title %}My Account{% endblock %}

{% block content %}
<div class="container-fluid p-0 flex-fill bg">
    <div class="row no-gutters">
            <a class="btn btn-primary text-center col-6 offset-3 col-md-4 square" id=""
                href="{{url_for('view_collection')}}">Collection</a>
            <a class="btn btn-primary text-center col-6 offset-3 col-md-4 square" id=""
                href="{{url_for('view_playcrate')}}">Playcrate</a>
            <a class="btn btn-primary text-center col-6 offset-3 col-md-4 square" id="" href="{{url_for('view_trophies')}}">Trophies</a>
    </div>
</div>
{% endblock %}
