{% extends 'base.html' %}
{% set active_page = "browse" %}
{% block title %}{{game.title}}{% endblock %}
{% block content %}
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" id="{{game.id}}" data-title="{{game.title}}"
            data-release-date="{{game.release_date.strftime('%d %B %Y')}}" data-isFlipped=false>
            <div class="front-cover" style="background-image:url({{game.front_cover}})">
                <div class="fas fa-sync-alt rotate-icon"></div>
            </div>
            <div class="back-cover">
                <div class="row no-gutters h-50">
                    {% if game.added_to_the_db_by == current_user.username %}
                    <button class="col-6 cover-button" type="button" data-toggle="modal" data-target="#delete-modal">
                        <div class="center">
                            <div class="text-center">Delete<br><i class="fas fa-sync-alt text-center"></i></div>
                        </div>
                    </button>
                    {% else %}
                    <div class="col-6 cover-button">
                        <div class="center">
                            <div class="text-center">Back<br><i class="fas fa-sync-alt text-center"></i></div>
                        </div>
                    </div>
                    {% endif %}

                    <a class="col-6 cover-button" href="/edit-game/{{game.title}}">
                        <div class="center">
                            <div class="text-center">Edit<br><i class="fas fa-edit text-center"></i></div>
                        </div>
                    </a>
                </div>
                <div class="row no-gutters h-50">
                    <a class="col-6 cover-button" href="/add-game-to-collection/{{game.id}}">
                        <div class="center">
                            <div class="text-center">Add to collection<br><i class="fas fa-box-open text-center"></i>
                            </div>
                        </div>
                    </a>
                    <div class="col-6 cover-button">
                        <div class="center">
                            <div class="text-center">Back<br><i class="fas fa-sync-alt text-center"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row no-gutters">
    <div class="col">
        <div class="game-title text-center">{{game.title}}</div>
        <h2 class="text-center release-date">{{game.release_date.strftime('%d-%B-%Y')}}</h2>
        <div class="row no-gutters">
            <div class="col-5 offset-1 category-title">
                Developed By
            </div>
            <div class="col-6 text-center category-info">
                {% for developer in game.developer %}
                {{developer}}
                {% endfor %}
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-5 offset-1 category-title">
                Published By
            </div>
            <div class="col-6 text-center category-info">
                {% for publisher in game.publisher %}
                {{publisher}}
                {% endfor %}
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-5 offset-1 category-title">
                Genre
            </div>
            <div class="col-6 text-center category-info">
                {% for genre in game.genre %}
                {{genre}} {{ "," if not loop.last }}
                {% endfor %}
            </div>
        </div>
        <!--  -->
        <div class="embed-responsive embed-responsive-16by9 col-10 offset-1 youtube-embed">
            <iframe class="embed-responsive-item" src={{game.trailer}}></iframe>
        </div>
        <iframe src="{{game.soundtrack}}" width="300" height="380" frameborder="0" allowtransparency="true"
            allow="encrypted-media"></iframe>
        <p class="col text-left game-description">{{game.game_description}}</p>
        <h2><a href={{game.wikipedia}}>{{game.title}} (Wikipedia)</a></h2>
        <h2>Added By {{game.added_to_the_db_by}}</h2>
    </div>
</div>

{% if game.added_to_the_db_by == current_user.username %}

{% endif %}

<!-- Delete Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-modal-label">Delete Game From The Database</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the game from the database? This action can not be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" id="delete-game"
                    href="{{url_for('delete_game', game_title=game.title)}}">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}